@import "tailwindcss";

@theme {
	--color-beige: rgba(241, 235, 215, 255);
	--color-primary: rgba(204, 0, 18, 255);
	--color-opaque-beige: rgba(241, 235, 215, 0.5);
	--color-secondary: #0070f3;
	--color-accent: #e54b4b;

	--font-zen-old-mincho: var(--fonts-zen-old-mincho), sans-serif;
	--font-hina-mincho: var(--fonts-hina-mincho), sans-serif;

	--breakpoint-3xl: 1800px;

	--animate-fade-out: fadeOut 0.5s ease forwards;
	--animate-slide-in-left: slideInLeft 1s ease forwards;
	--animate-breathing: breathing 2s ease-in-out infinite;
	--animate-fade-in-up: fadeInUp 0.7s cubic-bezier(0.4, 0, 0.2, 1) both;

	@keyframes fadeOut {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}

	@keyframes slideInLeft {
		0% {
			opacity: 0;
			transform: translateX(-100%);
		}
		100% {
			opacity: 1;
			transform: translateX(0);
		}
	}

	@keyframes breathing {
		0% {
			transform: scale(1);
			outline: 0px solid var(--color-opaque-beige);
		}
		50% {
			transform: scale(1.05);
			box-shadow: 0 1px 15px var(--color-beige);
		}
		100% {
			transform: scale(1);
			outline: 0px solid var(--color-opaque-beige);
		}
	}

	@keyframes fadeInUp {
		from {
			opacity: 0;
			transform: translateY(40px) scale(0.95);
		}
		to {
			opacity: 1;
			transform: translateY(0) scale(1);
		}
	}
}
